<ion-view title="Likes" id="likes-page">
  <ion-content padding="true" class="has-header">
    <ion-list id="likes-list">
      <ion-item class="item-avatar likes-row">
        <img src="img/placeholder-image.png" alt="">
        <h2 class="likes-nickname">Name</h2>
        <span class="likes-event">started following you</span>
      </ion-item>
      <ion-item class="item-avatar likes-row">
        <img src="img/placeholder-image.png" alt="">
        <h2 class="likes-nickname">Name</h2>
        <span class="likes-event">liked your post</span>
      </ion-item>
      <ion-item class="item-avatar likes-row">
        <img src="img/placeholder-image.png" alt="">
        <h2 class="likes-nickname">Name</h2>
        <span class="likes-event">started following you</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
