<ion-view id="page1">
  <ion-tabs class="tabs-light tabs-icon-only" id="tabsController">
    <ion-tab title="Home Tab" icon="ion-ios-home-outline" href="#/tabs/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search Tab" icon="ion-ios-search" href="#/tabs/search" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Post Tab" icon="ion-ios-plus-outline" href="#/tabs/post" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Likes Tab" icon="ion-ios-heart-outline" href="#/tabs/likes" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile Tab" icon="ion-ios-person-outline" href="#/tabs/profile" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
