/* Empty. Add your own CSS if you like */

.home-container {
  margin-bottom: 30px;
}

.post-header {
  margin-bottom: 1em;
}

.post-header-image {
  width: 18%;
  display: inline-block;
  text-align: center;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #f0f0f0;
}

.post-header-name {
  width: 80%;
  float: right;
  display: inline-block;
}

.post-image-box {
  margin: 0px;
  text-align: center;
}

.post-image {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}

.post-buttons {
  margin: 5px 0;
}

.post-likes {
  border: none;
  padding: 10px;
}

.post-likes .icon {
  font-size: 15px;
  margin-right: 10px;
}

.post-nickname {
  margin: 10px 0;
  width: 20%;
  display: inline;
}

.post-text {
  width: 80%;
  display: inline;
}

.link-comments {
  color: #cccccc;
  text-decoration: none;
}
